.titulo-experiencia{
  color: #e0e0e0;
}

.descricao-experiencia{
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 3.75rem;
  max-width: 50ch;
  color: #6C5E6F;
}

.descricao-experiencia strong{
  color: #141414;
}

.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem;
  background: #859D6F;
  margin-bottom: 1.25rem;
  border-radius: 5px;
  position: relative;
  gap: .625rem 1.25rem;
  cursor: default;
}

.empresa::before{
  content: "";
  display: block;
  height: 1.5rem;
  width: .4rem;
  background: #609375;
  position: absolute;
  left: -.4rem;
  top: 1.25rem;
  
}

.ano{
  position: absolute;
  top: 17px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 1.2rem;
}

.nome-projeto{
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 700;
}

.descricao-projeto{
  font-size: 1.2rem;
  line-height: 1.4;
  color: #141414;
}

.projeto-habilidade{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  
}

.projeto-habilidade li{
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 5px;
  background: #e0e0e0;
  padding: 5px 10px;
  border: 3px solid transparent;
  text-transform: uppercase;
}

.projeto-habilidade li:hover{
  border-bottom: 3px solid #609375;
}

@media (max-width: 700px){
  .grid-experiencia{
    grid-template-columns: 1fr;
    gap: 40px;/*não utilizar valores em rem, quebra todo o layout*/
  }

  .grid-experiencia .titulo-experiencia{
    color: #141414;
  }
  .descricao-experiencia{
    font-size: 1.25rem;
  }
 .ano{
  position: initial;
  order: 1;
  width: initial;
  text-align: left;
  font-size: 1rem;
}
.ano::before{
  content: "Ano: ";
}

}


@media (max-width: 400px){
  .empresa{
    grid-template-columns: 1fr;
  }

}